.dashboard-container{
    padding: 0 30px;
    background-color: #fff;
    color: antiquewhite;
}

.dashboard{
    width: 100%;
    color: black;
}

.dashboard-cards{
    display: flex;
    justify-content: space-between;
}