.newevent-container{
    padding: 40px 50px;
    background-color: #fff;
    color: antiquewhite;
}

.newevent{
    width: 100%;
    color: black;
}

.newevent h2{
    margin: 0;
}

.newevent h4{
    margin-top: 10px;
}

