.newevent-container{
    padding: 0 30px;
    background-color: #fff;
    color: antiquewhite;
}

.newevent{
    width: 100%;
    color: black;
}

.newevent h1{
    margin-bottom: 5px;
}

.newevent h4{
    margin-top: 10px;
}

