@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Quicksand', sans-serif;
}


::-moz-selection { /* Code for Firefox */
  background: #ff69b4;
}

::selection {
  background: #f88379;
}